services:
  restic-browser:
    build: ..
    ports:
      - "8088:8080"
    environment:
      RESTIC_REPOSITORY: /repo
      #RESTIC_PASSWORD_FILE: /run/secrets/restic_password
      RESTIC_PASSWORD: ${RESTIC_PASSWORD}
      RESTIC_CACHE_DIR: /cache
      # optional Basic Auth
      #BASIC_AUTH_USER: florian
      #BASIC_AUTH_PASS: changeme
    volumes:
      - ${REPO_PATH}:/repo:ro
      - restic_cache:/cache

volumes:
  restic_cache:
