{{define "content"}}
<div class="card shadow-sm mb-3 p-3">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <div class="text-muted small">Repository: <a href="/repositories/{{lower .RepoConfig.ID}}">{{.RepoConfig.ID}}</a></div>
        <div class="text-muted small">Snapshot: <code>{{.Snap}}</code></div>
        <div class="text-muted small">Pfad: <code>{{.Path}}</code></div>
      </div>
    </div>
  </div>
</div>

{{if .ParentPath}}
<div class="card shadow-sm mb-1 px-3">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-lg-1">
      <div class="col">
        📁 .. up 
        <a class="stretched-link" href="browse?snap={{.Snap}}&path={{.ParentPath}}"></a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{range $index, $_ := .Entries}}
<div class="card shadow-sm mb-1 px-3 {{if eq $index 0}} mb-4 {{end}}">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-lg-4">
      <div class="col">
        {{if eq .Type "dir"}}
          📁 {{basename .Path}}
        {{else}}
          📄 {{basename .Path}}
        {{end}}
      </div>
      <div class="col">
        <div class="text-muted small col">Type: </div>{{.Type}}
      </div>
      <div class="col">
        {{if ne .Type "dir"}}<div class="text-muted small col">Size: </div>{{.Size}}{{end}}
      </div>
      <div class="col">
        {{if eq .Type "dir"}}
            <a class="btn btn-outline-secondary z-2 position-relative" href="download-zip?snap={{$.Snap}}&path={{.Path}}">Download folder as ZIP</a>
          
        {{else}}
          <a class="btn btn-outline-secondary z-2 position-relative" href="download?snap={{$.Snap}}&path={{.Path}}">Download</a>
        {{end}}
      </div>
      <a class="stretched-link" href="browse?snap={{$.Snap}}&path={{.Path}}"></a>
    </div>
  </div>
</div>

{{end}}

{{end}}

{{template "layout" .}}
