{{define "content"}}
<div class="card shadow-sm mb-3 p-3">
  <div class="card-body">
    <div class="text-muted small">Root: <code>/repo</code></div>
    <div class="text-muted small">Pfad: <code>{{if .RelPath}}/{{.RelPath}}{{else}}/{{end}}</code></div>
    <div class="text-muted small">Elements: <code>{{len .Entries}} entries</code></div>
  </div>
</div>


{{if .ShowParent}}
<div class="card shadow-sm mb-4 px-3">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-lg-1">
      <div class="col">
        📁 .. up 
        <a class="stretched-link" href="{{.FilesBase}}?path={{.ParentRel}}"></a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{range .Entries}}
<div class="card shadow-sm mb-1 px-3">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col">
        {{if .IsDir}}📁{{else}}📄{{end}}
          {{if and .IsDir .IsRepo}}
            <strong class="mb-2">{{.Name}}</strong>
            <div>
              <span class="small border border-2 rounded p-1 {{if .IsRepoConfigured}}border-primary{{else}}border-warning{{end}}">
                Restic repository {{if ne .IsRepoConfigured true}}- configuration reguired{{end}}
              </span>
            </div>
          {{else}}
            {{.Name}}
          {{end}}
      </div>
      <div class="col">
        {{if .IsDir}}{{else}}<div class="text-muted small col">Size: </div>{{.Size}}{{end}}
      </div>
      <div class="col">
        <div class="text-muted small col">Modified: </div>{{if .ModTime.IsZero}}—{{else}}{{.ModTime}}{{end}}
      </div>      
        {{if .IsDir}}
          {{if .IsRepo}}
            {{if .IsRepoConfigured}}
              <a class="stretched-link" href="/repositories/{{lower .RepoID}}"></a>
            {{else}}
              <a class="stretched-link" href="/config?id={{.RepoID}}&path=/repo/{{.RelPath}}"></a>
            {{end}}
          {{else}}
            <a class="stretched-link" href="/files?path={{.RelPath}}"></a>
          {{end}}
        {{end}}
    </div>
  </div>
</div>
{{end}}

{{end}}

{{template "layout" .}}
